<mat-toolbar class="footer_color"  >
    <!-- color="primary" -->
    <!-- class="mat-elevation-z8" -->
    <span>
        <mat-icon>eco</mat-icon>
        Place for Footer
    </span>
    <!-- <div class="spacer">
    <a mat-button routerLink="home">
        <mat-icon>home</mat-icon>
        HOME
    </a>
    <a mat-button routerLink="about">
        <mat-icon>info</mat-icon>
        ABOUT
    </a>
    <a mat-button routerLink="contact">
        <mat-icon>phone</mat-icon>
        CONTACT
    </a>
    <a mat-raised-button color="accent" routerLink="sign-up">
        <mat-icon>person</mat-icon>
        SIGN UP
    </a>
</div> -->
</mat-toolbar>