<mat-toolbar class="header_color"  >

    <span>
        <!-- <mat-icon>account_balance</mat-icon> -->
        <img [src] = logo>
    </span>

    <div class="spacer"></div>
    <a mat-button routerLink="home">
        <mat-icon>home</mat-icon>
        HOME
    </a>
    <a mat-button routerLink="about">
        <mat-icon>info</mat-icon>
        ABOUT
    </a>
    <a mat-button routerLink="contact">
        <mat-icon>phone</mat-icon>
        CONTACT
    </a>
    <a mat-stroked-button color="primary" routerLink="signin">
        <mat-icon>person</mat-icon>
        SIGN IN
    </a>
    <a mat-stroked-button color="primary" routerLink="signup">
        <mat-icon>person</mat-icon>
        SIGN UP
    </a>
</mat-toolbar>
