.spacer{
  flex: 1 1 auto;
}

.header_color{
  background: transparent/100;
  background: #cfe6f4;
  background: linear-gradient(90deg, #dbf1fd 0%, #dbf1fd 50%, #dbf1fd 100%);
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cfe6f4,endColorstr=#f3f8fb);*/
  zoom: 1;
  color: #5e5e5e;
  box-shadow: 5px 5px 8px #5e5e5e;
}


