
<div class="container" fxLayout="column" fxLayoutGap="16px" fxFlex="90%">

  <div>
    <mat-card class="project-details-card">
      <mat-card-header>
        <mat-card-title>Project details</mat-card-title>
      </mat-card-header>
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title> Name: {{project.location}}</mat-card-title>
            <mat-card-subtitle> Location : {{project.name}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-md-4">
                <div> Start date : {{project.startDate}}</div>
                <div> Finish date : {{project.finishedDate}}</div>
              </div>
              <div class="col-md-4">
                <div> Project administrator : {{project.administrator.name}}</div>
                <div> Registered on : {{project.registeredOn}}</div>
              </div>
              <div class="col-md-4">
                <a mat-raised-button color="accent" [routerLink]="['/workPage/projects/project-list']">
                  <mat-icon>reply</mat-icon>
                  Back to projects list
                </a>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card>
  </div>


  <div>
    <mat-card class="assigned-users-card">
      <mat-card-header>
        <mat-card-title>Assigned users</mat-card-title>
      </mat-card-header>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let user of project.assignedUsers">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <img [src]=user_logo mat-card-avatar>
              <mat-card-title>
                <h2>{{user.name}}</h2>
              </mat-card-title>
              <mat-card-subtitle>
                <p class="m-0">{{user.roles[0]}}</p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
                <li class="list-group-item">
                  <mat-icon>contact_mail</mat-icon>
                  {{user.emailAddress}}</li>
<!--                <li class="list-group-item">-->
<!--                  <mat-icon>contact_phone</mat-icon>-->
<!--                  {{user.emailAddress}}</li>-->
                <li class="list-group-item">
                  <a mat-stroked-button color="warn" (click)="deleteFromProject(project.id)">
                    <mat-icon>delete_outline</mat-icon>
                    Delete from project
                  </a>
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>

  <div>
    <mat-card  class="search-user-card">
      <mat-card-header>
        <mat-card-title>Search by email address and invite users</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="form-group">
          <input type="text" (keyup)="findUserByEmail($event)"
                 class="form-control mt-5"
                 placeholder="Search users by email">
        </form>
        <div *ngIf="user">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-title">User name: {{user.username}}</h4>
              <p class="card-text">Email: {{user.email}}</p>
<!--              <button class="btn btn-sm btn-info" color="primary" (click)="inviteUser(user.username)"> Invite user </button>-->
              <a mat-stroked-button color="primary" (click)="inviteUser(user.username)">
                <mat-icon>highlight_alt</mat-icon>
                Invite user
              </a>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
