.main-container{
  width:90%;
  padding: 10px;
  align: center;
}

.assigned-users-card{
  background: #f6f6f6;
}

.project-details-card{
  background: #f6f6f6;
}

.search-user-card{
  background: #f6f6f6;
}





